<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.Problem3Mapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Problem3" >
    <id column="Problemid3" property="problemid3" jdbcType="INTEGER" />
    <result column="problemName3" property="problemname3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Problemid3, problemName3
  </sql>
  <select id="queryProblem3" resultMap="BaseResultMap" >
    select * from t_problem3

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_problem3
    where Problemid3 = #{problemid3,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ytc.model.Problem3" >
    insert into t_problem3 (Problemid3, problemName3)
    values (#{problemid3,jdbcType=INTEGER}, #{problemname3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ytc.model.Problem3" >
    insert into t_problem3
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="problemid3 != null" >
        Problemid3,
      </if>
      <if test="problemname3 != null" >
        problemName3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="problemid3 != null" >
        #{problemid3,jdbcType=INTEGER},
      </if>
      <if test="problemname3 != null" >
        #{problemname3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytc.model.Problem3" >
    update t_problem3
    <set >
      <if test="problemname3 != null" >
        problemName3 = #{problemname3,jdbcType=VARCHAR},
      </if>
    </set>
    where Problemid3 = #{problemid3,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytc.model.Problem3" >
    update t_problem3
    set problemName3 = #{problemname3,jdbcType=VARCHAR}
    where Problemid3 = #{problemid3,jdbcType=INTEGER}
  </update>
</mapper>